@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0B0F19;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #121A2B;
}

::-webkit-scrollbar-thumb {
  background: #233354;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00F59B;
}
